/* styles/editUser.css */

body {
    background-color: #e1e1e1; /* Light gray background for the body */
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff; /* White background for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(219, 172, 52); /* Border color as the accent color */
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: rgb(219, 172, 52); /* Accent color for the submit button */
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #d8aa35; /* Darker shade on hover */
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  