/* styles/registerUser.css */

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  p {
    color: green;
  }

  a {
    color: #3498db;
    text-decoration: none;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
    color: #2980b9;
  }
  